<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0008A7B31D1E224300C79AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0008A7CC1D1E224300C79AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0008A7D71D1E224300C79AA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
